@charset "UTF-8";

.classbottom{
    background-color: #016ea9;
    padding: 40px 0;
    color: #fff;
    text-align: center;
}

.classbottom .txtm {
    margin: 0;
}

@media screen and (max-width: 768px){
    .classbottom .txtm {
        margin: 0;
    }
}