@charset "UTF-8";

.flow {
    text-align: center;
    padding: 40px 0;
}

.flowimg {
    /* width: 90%; */
    max-width: 100%;
    margin: 40px auto;
}

.flowbox {
    width: 1100px;
    max-width: calc(100% - 110px);
    overflow: hidden;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px 35px;
    background-color: #fef5e0;
}

.flowline {
    max-width: 100%;
    margin: 0 auto;
    /* width: 70%; */
}

.flowleft {
    float: left;
    padding: 20px;
    width: 160px;
}

.flowleft img {
    max-width: 100%;
}

.flowleft .txtm {
    font-size: 18px;
    margin-bottom: 0;
}

.flowright {
    overflow: hidden;
    text-align: left;
    padding: 10px 0 0;
}

.flowbox p {
    margin: 20px 0;
}

.flowdetailsp {
    display: none;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}

.collapse {
    display: none;
}

.panel-group {
    margin-bottom: 20px;
}

.panel-group .panel+.panel {
    margin-top: 5px;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
    color: inherit;
}

@media only screen and (max-width: 1190px) and (min-width: 768px) {
    .flow {
        padding: 20px 40px;
    }

    .flowline {
        width: calc(100% - 300px);
    }
}

@media screen and (max-width: 768px) {
    .flowimg, .flowdetailpc {
        display: none;
    }

    .flowdetailsp {
        padding: 20px 15px;
        display: block;
        text-align: left;
    }

    .panel-default {
        border: none;
    }

    .flowheading {
        cursor: pointer;
        background-color: #fef5e0 !important;
        color: #000000 !important;
        border: none !important;
    }

    .panel-heading {
        padding: 10px 15px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .flowdetailsp img {
        width: 35px;
        height: 35px;
        margin-right: 15px;
    }

    .flowtoggle a.collapsed:after {
        /*font-family: "Glyphicons Halflings";*/
        content: "\e114";
        margin-top: 13px;
        float: right;
        color: inherit;
    }
}

