@charset "utf-8";


/* ========================================
    リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}

input, textarea{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}

/* micro clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {clear: both;}
.cf {*zoom: 1;}

/*****************************************************************************************************************************/

body{
	color: #474747;
    font-size: 14px;
	font-family: "メイリオ", "Meiryo", sans-serif;
	-webkit-font-smoothing: antialiased;
}

/***********************
		 HEADER
************************/

header{
    width: 100%;
	height: 36px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #ffffff;
	border-top: 4px solid #e66464;
}

div#header_inner{
    width: 978px;
	margin: 0 auto;
	height: 36px;
}

div#header_inner h1{
	float: left;
}

header nav{
	float: right;
	margin-top: 19px;
}
header nav ul li{
	padding-left: 25px;
	padding-right: 25px;
	border-left: 1px solid #e8e8e8;
	float: left;
	font-size:16px;
}

header nav ul li a{
	text-decoration:none;
	color: #474747;
	font-weight: 100;
}

/***********************
		 MAIN
************************/

div#main{
	width: 100%;
	height: 392px;
	background: url(images/mainimage.jpg) no-repeat top center;
}

div#main_inner{
	width: 978px;
	height: auto;
	margin: 0 auto;
	padding-top: 60px;
}

div#main_inner h2{
	font-size: 30px;
	font-weight: 900;
	letter-spacing: 7px;
	margin-bottom: 20px;
}

div#main_inner dl{
	width: 373px;
}

div#main_inner dl dd{
	font-size: 14px;
	margin: 20px 0;
}

/***********************
		 INtRO
************************/

div#introduction{
	width: 100%;
	height: auto;
	background-color: #ed7c7c;
}

div#introduction div#introduction_inner{
	width: 978px;
	height: auto;
	padding: 30px 0;
	margin: 0 auto;
}

div#topic{
	width: 100%;
	height: 43px;
	margin-bottom: 30px;
}

div#topic h3{
	color: #ffffff;
	font-size: 23px;
	line-height: 23px;
	font-weight: 900;
	padding-bottom: 15px;
	border-bottom: 4px solid #ffffff;
	margin-right: 30px;
	float: left;
	display: inline-block;
}

div#topic p{
	float: left;
	margin-top: 6px;
	display: inline-block;
	vertical-align: text-bottom;
	color: #ffffff;
}

div#teachers{
	width: 632px;
	height: 222px;
	background-color: #ffffff;
	padding: 15px;
	float: left;
}

div#teachers h4{
	font-size: 18px;
	line-height: 19px;
	font-weight: 900;
	margin-bottom: 10px;
}

div#teachers ul li{
	width: 200px;
	height: auto;
	float: left;
	margin-right: 16px;
}

div#teachers ul li dl dt{
	height: 131px;
	margin-bottom: 8px;
}

div#teachers ul li dl dd.name{
	font-size: 14px;
	font-weight: 900;
}

div#teachers ul li dl dd.contents{
	font-size: 11px;
	line-height: 15px;
}

div#teachers ul li#last_list{
	margin-right: 0;
}

div#course{
	float: right;
	width: 286px;
	height: auto;
	background-color: #ffffff;
}

div#course h4{
	font-size: 18px;
	font-weight: 900;
	padding: 15px 15px 10px 15px;
}

div#course ul li{
	padding: 15px;
	border-top: 1px solid #eae9e7;
}

div#course ul li#ps a{
	background: url(images/icon_photoshop.png) no-repeat left center;
}

div#course ul li#ai a{
	background: url(images/icon_ai.png) no-repeat left center;
}

div#course ul li#pr a{
	background: url(images/icon_pr.png) no-repeat left center;
}

div#course ul li#fw a{
	background: url(images/icon_fw.png) no-repeat left center;
}

div#course ul li#dw a{
	background: url(images/icon_dw.png) no-repeat left center;
}

div#course ul li a{
	padding-left: 50px;
	height: 37px;
	line-height: 37px;
	display: block;
	color: #474747;
	text-decoration: none;
}

/***********************
		 FEE
************************/

div#fee{
	width: 100%;
	height: auto;
	background-color: #fcfbfb;
}

div#fee_inner{
	width: 978px;
	height: auto;
	padding: 30px 0;
	margin: 0 auto;
}

div#fee_title{
	width: 100%;
	height: 43px;
	margin-bottom: 30px;
}

div#fee_title h3{
	color: #000;
	font-size: 23px;
	line-height: 23px;
	font-weight: 900;
	padding-bottom: 15px;
	border-bottom: 4px solid #ED7C7C;
	margin-right: 30px;
	float: left;
	display: inline-block;
}

div#fee_title p {
	float: left;
	margin-top: 6px;
	display: inline-block;
	vertical-align: text-bottom;
	color: #000;
}

div#fee_inner ul li{
	background-color: #fff;
	width: 276px;
	height: 350px;
	padding: 15px;
	float: left;
	margin-right: 30px;
	position: relative;
}

div#fee_inner ul li#last{
	margin-right: 0;
}

p.plan{
	font-size: 18px;
	font-weight: bold;
	line-height: 19px;
}

p.price{
	color: #ED7C7C;
	font-size: 28px;
	font-weight: bold;
	margin: 15px 0 30px 0;
	line-height: 24px;
}

p.price span{
	font-size: 16px;
	margin-left: 10px;
}

div#fee_inner ul li dl dd{
	line-height: 45px;
	border-top: 1px dotted #eae9e7;
}

div#fee_inner ul li dl dd.last-dd{
	border-bottom: 1px dotted #eae9e7;
}

div#fee_inner ul li a{
	position: absolute;
	left: 15px;
	bottom: 15px;
	background-color: #ED7C7C;
	padding:0 25px;
	line-height: 36px;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
}

footer{
	width: 100%;
	background-color: #474747;
	color: #fff;
	text-align: center;
	height: 73px;
	line-height: 73px;
}
